#test --test_output=streamed
test --test_verbose_timeout_warnings

build --repository_cache=~/.cache/bazel-repo
fetch --repository_cache=~/.cache/bazel-repo
query --repository_cache=~/.cache/bazel-repo
build --disk_cache=~/.cache/bazel-disk
build --remote_cache=https://storage.googleapis.com/tvhelper.appspot.com
build --google_credentials=secret-key.json
test --remote_cache=https://storage.googleapis.com/tvhelper.appspot.com
test --google_credentials=secret-key.json