.Day__exercise-list--item-enter {
  opacity: 0;
  transform: translateX(-300px);
}
.Day__exercise-list--item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all var(--transition-duration-slow) ease-in;
}
.Day__exercise-list--item-exit {
  opacity: 1;
  transform: translateX(0);
}
.Day__exercise-list--item-exit-active {
  opacity: 0;
  transform: translateX(-300px);
  transition: all var(--transition-duration-slow) ease-in;
}
